* {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Karla', sans-serif;
    background-color: white;
    position: relative;
}

html {
    font-size: 62.5%;
}
#company{
    background-image: radial-gradient( circle, rgb(100, 82, 209, .5), rgb(100, 82, 209, 1)), url("pexels-alex-knight-2599244.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.company{
    width: 85%;
    margin:auto;
    color:white;
}
ul{
    padding: 0px;
}
.c-n {
    display: inline-block;

}
.c-nav{
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
    display: inline-block;
    margin: 1rem 3rem 1rem 0;
    padding: 1rem 1rem 1rem 1rem;
}
.c-nav:hover{
    background-color: #493B9F;
    font-weight:900;
    border-radius: 1rem;
    transition-property: all;
    transition-duration: 100ms;
}
.comp-header{
    margin-top: 10rem;
    font-size: 4rem;
    font-weight: 300;
}
.comp-nav {
    max-width: 125rem;
    margin: auto;
    display:flex;
    justify-content: center;
}
.meta {
    display: inline-block; 
    margin: 0 5rem;  
}
.meta-txt {
    text-transform: uppercase;
    color: #fff;
    padding:1rem 1rem 1rem 1rem;
    margin:2.5rem 3rem 1rem 0;
}
.header-title{
    margin: 1rem 0;
}
.cp-sub{
    font-size: 2rem;
    max-width: 40rem;
}
.comp-sub{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cp-bar,
.cp-bar:link,
.cp-bar:visited {
    font-size: 2rem;
    text-decoration: none;
    display: inline-block;
    margin: 1rem 3rem 1rem -1.8rem;
    padding: 1rem 2rem 1rem 2rem;
    transition-duration: 200ms;    
    transition-property: all;
    color: #fff;

}
.cp-bar:hover {
    background-color: white;
    color:#6452D1;
    border-radius: 5px;
    font-weight: bold;
   
}
.tag {
    display: inline-block;
    text-decoration: none;
    color: #fff;
}
.comp-dp{
    position: relative;
    width: 100%;
}
.comp-img{
    margin:0;
}
.pn{
    margin:0;
    text-align: center;
    
}
.plans-nav{
    background-color: #DBDBDB;
}
.p-nav{
    font-size: 2rem;
    display:inline-block;
    margin: .5rem 5rem .5rem 5rem;
    padding: .5rem 1.5rem .5rem 1.5rem;
    color: #888888;
    transition-property: all;
    transition-duration: 200ms;
    
}
.p-nav:hover{
    font-size: 2.5rem;
    font-weight: bolder;
    
}
.plans{
    max-width: 110rem;
    margin: auto;
    padding-top: 8rem;
    padding-bottom: 5rem;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
}
.plans-img{
    background-color:#6452D1;
    height:42rem ; 
    width: 32rem;  
    box-shadow: 0 0 .8rem .8rem rgba(0, 0, 0, 0.2), 0 .6rem 2rem 0 rgba(0, 0, 0, 0.19);
    border-radius:2rem;
}
.p-img{
    width: 32rem;
    max-height: 25rem;
    object-fit: cover;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}
.plans-content{
    max-width: 43rem;
    margin-left: 5rem;   
}
.pcon{
    color: #555;
    font-size:4.5rem;
    font-weight: bolder;
    line-height: 6rem;
    margin: 0;
}
.ptent{
    color:#6452D1;
    font-weight: bolder;
}
.pn-con{
    font-size: 2rem;
    line-height: 2.5rem;
}

.p-btn,
.p-btn:link,
.p-btn:visited {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1rem 3rem;
    display: inline-block;
    text-decoration: none;
    border-radius: .5rem;
    background-color: #6452D1;
    color: #fff;
    font-weight: bolder;
    border:none;
    cursor: pointer;
    transition-property: all;
    transition-duration: .2s;
}
    .p-btn:hover{
        transform: scale(1.1); 
        font-weight: 600;
        
    }
.place{
    max-width: 110rem;
    margin: auto;
    padding-top: 8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 10rem;
}
.place-content{
    max-width: 42rem;
}
.place-box{
    height:auto ; 
    width: 42rem;  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.pl-box{
    height: 18rem;
    width: 16rem;
    padding: 1rem;
    margin-right: 2rem;
    margin-top: 2rem;
    box-shadow: 0 .4rem .8rem 0 rgba(0, 0, 0, 0.2), 0 .6rem 2rem 0 rgba(0, 0, 0, 0.19);
    border-radius: 2rem;
}
.pl-img{
    height:5rem;
    width: 5rem;
    margin: 0;
}
.plb-title{
    font-size: 2rem;
    margin: .2rem;
}
.plb-txt {
    font-size: 1.5rem;
}
.just-for-you{
    max-width: 90rem;
    margin: auto;
    text-align: center;   
}
.payment{
    max-width:100rem;
    margin: auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.pay-con{
    width:25rem ;
    height:42rem;
    text-align: center;
    box-shadow: 0 .4rem .8rem 0 rgba(0, 0, 0, 0.2), 0 .6rem 2rem 0 rgba(0, 0, 0, 0.19);
    border-radius: 2rem;
    margin-top: 5rem;
    padding: 2rem 1rem;
    transition: all 0.5s ease;
}
.pay-con:hover {
    background-image: linear-gradient(to right top, #b95ce4,#4f29cd);
    transform: translateY(-2rem); 
    color: #fff;
   
}
.payment .pay-con:hover a {
    background: #ff568f;
}
.payment .pay-con:hover .pc-amt {
    color : #fff
}
.payment .pay-con:hover .pc-mth {
    color : #fff
}
.pc-tit{
    font-size:2.5rem ;
    font-weight: bold;
}
.pc-amt{
    color: #6452D1;
    font-weight:bolder;
    font-size: x-large;
}
.pc-mth{
    font-size: 1.5rem;
    color: #888888;
}
.register_box {
    background-color: #6452D1;
    width:100%;
    margin: auto;
    margin-top: 10rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
}
.register{
    max-width: 114rem;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
}
.reg-img{
    width: 32rem;
    margin-left:10rem;
}
.rg-img{
    width:70%;
}
.reg-content{
    max-width: 35rem;
    color:white;
    margin-left:-10rem;

}
.regt{
    font-size: 3rem;
    font-weight: bolder;
    text-align: left;
}
.rgsign{
    padding: 1rem 2rem;
    background-color: #493B9F;
    color: #D0CFCF;
    border: none;
    border-radius: .5rem;
}
.rgsub{
    padding: 1rem 3.5rem;
    background-color: white;
    color:black;
    border-radius: 1rem;
    border:none
}
.rgsub:hover{
    transition-property: all;
    transition-duration: 100ms;
    background-color: #493B9F;
    color: #DBDBDB;    
}
footer{
    width:100% ;
    margin:auto;
    background-color: #493B9F;
    color: #888888;
}
.footer-nav{
    max-width: 114rem;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;  
    padding-top: 2rem;  
    padding-bottom: 2rem;
}
.ftid{
    font-size: 1.5rem;
    margin: 0;
    padding:0 5rem;
}
.foot-nav{
    text-align: center;
}
.ftn{
    font-size: 1.5rem;
    display:inline-block;
    padding: 0 1rem;
}
.reel{
    text-align: center;
    color: white;
    margin: 0;
    padding-bottom: 1rem;
}
.u-mt-m {
    margin-top: 2.5rem;
}
.u-mt-l {
    margin-top: 6rem;
}
.u-mb-m {
    margin-bottom: 2.5rem;
}

/*  MEDIA QUERIES */

@media (max-width: 75em) {  /* For Tab-land  75em= 1200px/16px */
    html {
        font-size: 56.25%;} 
     }  /* 1rem = 9px; 9px/16 = 56.25% */

@media (max-width: 56.25em) {   /* For Tab-port  56.25em= 900px/16px */
    html {
        font-size: 50%;} 
    body{
        padding: 0; }
    #company{
        height: 80vh;
    }
    .cp-sub {
        max-width: 35rem;
    }
    
    .payment {
        max-width: 40rem;
    }
    .pay-con {
        width: 100%;
    }
    .just-for-you{
        max-width: 60rem;
    }
    }      /* 1rem = 8px; 8px/16 = 50% */

@media (max-width: 37.5em) {   /* For phone 37.5em= 600px/16px */
    html {
        font-size: 31.25%;}
    #company{
        height: 70vh;
        }
    .comp-nav, .comp-header, .comp-sub, .comp-bar {
        text-align: center;
    }
    .c-nav{
        margin: 1rem 1rem 1rem 1rem;
    }
    .meta {
        margin: 0;  
    }
    .meta-txt {
        margin:2.5rem 1rem 1rem 1rem;
    }
    .cp-sub {
        width: 100%;
        margin: 2rem auto;}
    .p-nav {
        margin: .5rem 2rem; 
        padding: .5rem .5rem;
    }
    .plans {
        max-width: 50rem;
    }
    .plans-img {
        width: 0;
        visibility: hidden;
    }
    .plans-content {
        text-align: center;
        width: 100%;
    }
    .place {
        padding-top: 0;
        text-align: center;
    }
    .place-content {
        margin-bottom: 5rem;
    }
    .register {
        display: block;
    }
    .reg-img{
        width: 0;
    }
    .reg-content{
        width: 100%;
    }
    .reg-content,.regt {
        text-align: center;
        margin:0 auto;
    }
    }      /* 1rem = 4px; 5px/16 = 31.25% */

@media (min-width: 112.5em) {   /* For big-desktop 112.5em= 1800px/16px */
    html {
        font-size: 75%;}  }      /* 1rem = 12px; 12px/16 = 75% */
